<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <p>Выбор блюда</p>
    <p><a th:href="@{/}" th:text="'Главная страница'"></a></p>
</div>

<form th:action="@{/dishes_table}" th:object="${dishesCategories}" method="post">

    <select th:field="*{name}" required>
        <option value="">Select</option>
        <option value="BREAKFAST">Завтрак</option>
        <option value="SNACK">Перекус</option>
        <option value="LAUNCH">Обед</option>
        <option value="AFTERNOONSNACK">Полдник</option>
        <option value="SUPPER">Ужин</option>
    </select> <br/><br/>
    <button type="submit">Добавить</button>
    <span th:utext="${successMessage}"></span>
    <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
        <ul th:each="data : ${bindingResult.getAllErrors()}">
            <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
        </ul>
    </div>
</form>

<p> </p>

<form th:action="@{/dishes_table}" th:object="${dishes}" method="post">
    <select th:field="*{dishName}" required>
        <option value="">Select</option>
        <option value="RICE">Рис</option>
        <option value="SALAD">Салат овощной</option>
        <option value="APPLE">Яблоко</option>
    </select> <br/><br/>
    <button type="submit">Добавить</button>
    <span th:utext="${successMessage}"></span>
    <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
        <ul th:each="data : ${bindingResult.getAllErrors()}">
            <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
        </ul>
    </div>
</form>
</body>
</html>